  <%= render 'layouts/carousel' %>

  <div class = "">
    <div class "clearfix"></div>
      <div class= "container">
        
  <div class="row">
    <div class = "col-md-9 col-md-offset-2" >    
      <p class= "headline">Our mission is to inspire and enable all young people, especially those who need us most, to reach their full potential </p>
          </div>

            <div class="row" style = "margin-left:30px;">

              <div class="col-sm-6 col-md-4">        
                <div class ="overlay">
                  <img src = "../../assets/bgcsbkids.jpg">
                      <h1>Give</h1> 
                </div>
              </div>

              <div class="col-sm-6 col-md-4">           
                  <div class ="overlay">
                    <img src = "../../assets/bgcsbmembers.jpg">
                        <h1> Volunteer</h1>
                  </div>
              </div>

              <div class="col-sm-6 col-md-4">       
                  <div class ="overlay">
                    <img src = "../../assets/bgcsbsupport.jpg">
                      <h1> Join</h1>
                  </div>
              </div>

            </div> 
      </div>
    </div>
</div> 
  </div>


<div class ="container">
<%= render 'layouts/carouselstats'%>
</div>





