<br><br><br><br><br><br><br>
<header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Boys and Girls Clubs</h1>
                <h2>of the South Bay</h2>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">
        <ul>
           <h2> Click <%= link_to "Board Members", board_path %> to find out more about our wonderful Board!</h2>
        </ul>


        <hr class="featurette-divider">


        <!-- First Featurette -->
        <div class="featurette" id="about">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://i989.photobucket.com/albums/af20/acqajar/bgcsbkids_zpskyaf1hnp.jpg">
            <h2 class="featurette-heading">This First Heading
                <span class="text-muted">Will Catch Your Eye</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Second Featurette -->
        <div class="featurette" id="services">
            <img class="featurette-image img-circle img-responsive pull-left" src="http://i989.photobucket.com/albums/af20/acqajar/bgcsbmembers_zpsltel9dq9.jpg" style = "width:500px;height:500px;" border="0" alt=" photo bgcsbkids_zpskyaf1hnp.jpg">
            <h2 class="featurette-heading">The Second Heading
                <span class="text-muted">Is Pretty Cool Too.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>

        <hr class="featurette-divider">

        <!-- Third Featurette -->
        <div class="featurette" id="contact">
            <img class="featurette-image img-circle img-responsive pull-right" src="http://i989.photobucket.com/albums/af20/acqajar/awards_zpsgferwyv1.png">
            <h2 class="featurette-heading">The Third Heading
                <span class="text-muted">Will Seal the Deal.</span>
            </h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>


    </div>