<br><br><br><br>
<header class="business-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Boys and Girls Clubs of the South Bay</h1>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <div class="container">

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <h2>What We Do</h2>
                <p>Established in 1989, the Boys and Girls Clubs of the South Bay have been serving the communities of Los Angeles’ South Bay.  We serve over 2,500 kids and 400 parents each year. Club membership is available for boys and girls between the ages of 6 - 18 for a nominal $20.00 annual fee providing youth with access to, and use of, all facilities, programs and services the Clubs have to offer. Membership fees can be waived in special circumstances.</p>

                <p>Our activities are focused in the communities of Harbor City, Harbor Gateway-Gardena and Harbor Gateway-Torrance.  The boys and girls from these communities face various challenges and barriers that put them at risk for gang involvement, crime, sexual activity and alcohol, tobacco and other drug use.  The socio-economic conditions, combined with a lack of affordable and available after-school activities, both on and off school campuses, leave them with little or no opportunities for positive activities or support to enable them to achieve their full potential.  Linguistic and cultural barriers add additional challenges.</p>
                <p>
                    <a class="btn btn-default btn-lg" href="#">This is a Button! Awesome!</a>
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                <address>
                    <strong>Boys and Girls Clubs of the South Bay</strong>
                    <br>1220 West 256th Street
                    <br>Harbor City, CA 90710
                    <br>
                </address>
                <address>
                    <abbr title="Phone">P:</abbr> (310) 534-0056
                    <br>
                    <abbr title="Email">E:</abbr> <a href="mailto:#">name@example.com</a>
                </address>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src= "../../../assets/site1.jpg" alt="" style = "width:300px;height:300px">
                <h2>Location #1</h2>
                <p>These marketing boxes are a great place to put some information. These can contain summaries of what the company does, promotional information, or anything else that is relevant to the company. These will usually be below-the-fold.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="../../../assets/site2.jpg" alt="" style = "width:300px;height:300px;transform:rotateX(180deg)">
                <h2>Location #2</h2>
                <p>The images are set to be circular and responsive. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
            <div class="col-sm-4">
                <img class="img-circle img-responsive img-center" src="../../../assets/site3.jpg" alt="" style = "width:300px;height:300px;transform:rotateX(180deg)">
                <h2>Location #3</h2>
                <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
            </div>
        </div>