<div class="navbar navbar-default navbar-fixed-top">
  <div class = "row">
     <div class="container-fluid" style="background-color:#087db3">
            <!-- Brand and toggle get grouped for better mobile display -->
                

                <!-- FACEBOOK icon/link -->
                <a href = "https://www.facebook.com/pages/Boys-Girls-Clubs-of-The-South-Bay/155491257802264" target="_blank">
                  <img src = "http://i304.photobucket.com/albums/nn184/boysandgirlsclubsofthesouthbay/facebook_zpsa8bnwm3v.png" style ="float: right;margin-top:5px;">

                  <!-- ../../assets/facebook.png -->
                </a>

                <!-- TWITTER icon/link -->
                <a href = "https://twitter.com/bgcsouthbay" target="_blank">
                  <img src = "http://i304.photobucket.com/albums/nn184/boysandgirlsclubsofthesouthbay/twitter_zpseyvukskg.png" style ="float: right;margin-top:5px;">
                </a>

            <div class="col-lg-9" style = "float:left;">

            <!-- Search Events -->
              
         <form class="navbar-form pull-left" role="search">
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Search">
               <div class="input-group-btn">
                  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
               </div>
            </div>
         </form>





         <!-- Contact Info -->
            <!-- <a href="#contact">
              <h2 style="margin-top:5px;color:white;"> Contact </h2>
            </a> -->

         </div><!-- /.navbar-collapse -->
    </div>  
    
  </div>
